{% extends 'base.html' %}
{% load static %}

{% block title %}Orígenes - HubLab{% endblock %}

{% block content %}
<div class="container-fluid disable-text-selection">
  <div class="row">
      <div class="col-12">

          <div class="mb-3">
              <h1>HUBLAB</h1>


              <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                  <ol class="breadcrumb pt-0">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="#">Library</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                  </ol>
              </nav>
          </div>
          <div class="mb-2">
              <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                  role="button" aria-expanded="true" aria-controls="displayOptions">
                  Display Options
                  <i class="simple-icon-arrow-down align-middle"></i>
              </a>
              <div class="d-md-block collapse show" id="displayOptions">
                  <span class="mr-3 mb-2 d-inline-block float-md-left">

                      <a href="#" class="mr-2 view-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                              <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                              <path class="view-icon-svg"
                                  d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z" />
                              <path class="view-icon-svg"
                                  d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z" />
                              <path class="view-icon-svg"
                                  d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z" />
                              <path class="view-icon-svg"
                                  d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                              <path class="view-icon-svg"
                                  d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" /></svg>
                      </a>
                      <a href="#" class="mr-2 view-icon active">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                              <path class="view-icon-svg"
                                  d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z" />
                              <path class="view-icon-svg"
                                  d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z" />
                              <path class="view-icon-svg"
                                  d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z" />
                              <path class="view-icon-svg"
                                  d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z" />
                          </svg>
                      </a>
                  </span>
                  <div class="d-block d-md-inline-block">
                      <div class="btn-group float-md-left mr-1 mb-1">
                          <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Filtrar por Unidad Experimental
                          </button>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Realidad Extendida</a>
                              <a class="dropdown-item" href="#">Smart Process Lab</a>
                              <a class="dropdown-item" href="#">FabLab</a>
                              <a class="dropdown-item" href="#">Smart Data Lab</a>
                              <a class="dropdown-item" href="#">Centro experimental San Francisco</a>
                              <a class="dropdown-item" href="#">Centro experimental Alonso Tadeo</a>
                              <a class="dropdown-item" href="#">Turismo</a>
                          </div>
                      </div>
                      <div class="btn-group float-md-left mr-1 mb-1">
                          <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Filtrar por categoria
                          </button>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Laboratorio real</a>
                              <a class="dropdown-item" href="#">Laboratorio virtual</a>
                              <a class="dropdown-item" href="#">Software especializado</a>
                              <a class="dropdown-item" href="#">Simulación</a>
                          </div>
                      </div>

                      <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                          <input placeholder="Search...">
                      </div>
                  </div>
                  <div class="float-md-right">
                      <span class="text-muted text-small">Displaying 1-10 of 210 items </span>
                      <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          20
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">10</a>
                          <a class="dropdown-item active" href="#">20</a>
                          <a class="dropdown-item" href="#">30</a>
                          <a class="dropdown-item" href="#">50</a>
                          <a class="dropdown-item" href="#">100</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="separator mb-5"></div>
      </div>
  </div>

  <div class="row list disable-text-selection" data-check-all="checkAll">

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="{% url 'hublab_planta_lacteos' %}"><img class="card-img-top" src="{% static 'img/cards/lacteos.png' %}"
                          alt="Card image cap">
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Disponible</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          
                              <p class="list-item-heading mb-4 pt-1">Planta Industrial de producción de lacteos</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Laboratorio real</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: C.E-San Francisco</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de Alimentos, logística, Industrial, Administración, procesos y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 18.080</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="#"><img class="card-img-top" src="{% static 'img/cards/proyecto2 1.png' %}"
                          alt="Card image cap"></a>
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Disponible</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          <a href="#">
                              <p class="list-item-heading mb-4 pt-1">Laboratorio virtual para diseño y análisis de procesos industriales</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Laboratorio virtual</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: Lab-Realidad Extendida</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de logística, Industrial, Administración, procesos y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 11.360</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="#"><img class="card-img-top" src="{% static 'img/cards/flexsim.png' %}"
                          alt="Card image cap"></a>
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">En desarrollo</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          <a href="#">
                              <p class="list-item-heading mb-4 pt-1">Software de Simulación de procesos Industriales FLEXSIM</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Software</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: Lab-Realidad Extendida</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de logística, Industrial, Administración, procesos y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 11.360</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="#"><img class="card-img-top" src="{% static 'img/cards/tulcan.png' %}"
                          alt="Card image cap"></a>
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Próximamente</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          <a href="#">
                              <p class="list-item-heading mb-4 pt-1">Recorrido Turimo Cementerio ciudad de Tulcán</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Laboratorio Real</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: Lab-Turismo</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de turismo, ambiental y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 11.360</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="#"><img class="card-img-top" src="{% static 'img/cards/tulcan.png' %}"
                          alt="Card image cap"></a>
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Próximamente</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          <a href="#">
                              <p class="list-item-heading mb-4 pt-1">Recorrido Turimo Cementerio ciudad de Tulcán</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Laboratorio Real</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: Lab-Turismo</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de turismo, ambiental y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 11.360</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
          <div class="card">
              <div class="position-relative">
                  <a href="#"><img class="card-img-top" src="{% static 'img/cards/lacteos.png' %}"
                          alt="Card image cap"></a>
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Disponible</span>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12">
                          <a href="#">
                              <p class="list-item-heading mb-4 pt-1">Planta Industrial de producción de lacteos</p>
                          </a>
                          <footer>
                              <p class="text-muted text-small mb-0 font-weight-light">Categoría: Laboratorio real</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Unidad Experimental: C.E-San Francisco</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Diseñado para estudiantes de Alimentos, logística, Industrial, Administración, procesos y afines</p>   
                              <p class="text-muted text-small mb-0 font-weight-light">Actualizado: enero 2025</p>
                              <p class="text-muted text-small mb-0 font-weight-light">Visitas 18.080</p>
                          </footer>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12">
          <nav class="mt-4 mb-3">
              <ul class="pagination justify-content-center mb-0">
                  <li class="page-item ">
                      <a class="page-link first" href="#">
                          <i class="simple-icon-control-start"></i>
                      </a>
                  </li>
                  <li class="page-item ">
                      <a class="page-link prev" href="#">
                          <i class="simple-icon-arrow-left"></i>
                      </a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item ">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item ">
                      <a class="page-link next" href="#" aria-label="Next">
                          <i class="simple-icon-arrow-right"></i>
                      </a>
                  </li>
                  <li class="page-item ">
                      <a class="page-link last" href="#">
                          <i class="simple-icon-control-end"></i>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}