{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <h1>Proceso de Participación en Incubadora UPEC</h1>
                
            </div>
            <div class="mb-2">
                <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                    role="button" aria-expanded="true" aria-controls="displayOptions">
                    Display Options
                    <i class="simple-icon-arrow-down align-middle"></i>
                </a>
                
            </div>
            <div class="separator mb-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="accordion">

            <div class="card d-flex mb-1">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Etapa de Inscripción
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>1. Inscríbete</strong></p>
                        <p>
                            Convocatoria abierta: Consulta las fechas y requisitos en la sección de Convocatorias.
                            Formulario de inscripción: Completa el formulario disponible en línea, proporcionando información sobre tu idea de negocio, objetivos y equipo.
                            Documentos necesarios: Adjunta los documentos requeridos, como una breve descripción de tu idea, un resumen ejecutivo o tu CV
                        </p>
                        <br />
                        <p><strong>2. Presenta tu idea</strong></p>
                        <p>
                            Pitch de selección: Si tu proyecto es preseleccionado, te invitaremos a un "Pitch Day", donde presentarás tu idea ante un panel de expertos.
Criterios de evaluación: Innovación, viabilidad, impacto social/económico y compromiso del equipo.
Resultados: Publicamos los proyectos seleccionados en nuestra página y redes sociales.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex ">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Proceso de Incubación
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>Fase de pre-incubación:</strong></p>
                        <p>
                             Trabaja en la validación de tu idea con el apoyo de nuestros mentores. Refinaremos tu modelo de negocio y evaluaremos su viabilidad.
                    </p>
                    <p><strong>Fase de incubación:</strong></p>
                        <p>
                             Recibe capacitación, mentorías personalizadas y acceso a nuestros recursos, como espacios de coworking, talleres y redes de contactos.
                             <p><strong>Prototipo y pruebas:</strong></p>
                            
 Desarrolla tu producto o servicio mínimo viable (MVP) con apoyo técnico y retroalimentación constante.
    
                            
            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Gulp & Package.json
                    </button>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>Leggings Occaecat</strong></p>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident.
                        </p>
                        <br />
                        <p><strong>Accusamus Labore</strong></p>
                        <p>
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident.
                            <br /><br />
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Ad
                            vegan
                            excepteur butcher
                            vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Styles and Themes
                    </button>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            <br /><br />
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                            <br /><br />
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Ad
                            vegan
                            excepteur butcher
                            vice lomo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Adding Content
                    </button>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Researches and Experiments
                    </button>
                </div>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>Leggings Occaecat</strong></p>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident.
                        </p>
                        <br />
                        <p><strong>Accusamus Labore</strong></p>
                        <p>
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident.
                            <br /><br />
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Ad
                            vegan
                            excepteur butcher
                            vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse"
                    data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Proident Excepteur Butcher
                    </button>
                </div>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            <br /><br />
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                            <br /><br />
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Ad
                            vegan
                            excepteur butcher
                            vice lomo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-3">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse"
                    data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Raw Denim Aesthetic
                    </button>
                </div>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod.
                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee
                            nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                            nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


    
{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}